    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="add">Add Audit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="view">Edit Audit</a>
      </li>
      {% comment %} <li class="nav-item">
        <a tabindex="-1" class="nav-link" href="report">View Report</a>
      </li> {% endcomment %}
      <li class="nav-item">
        <a class="nav-link" href="addItem">Add Item</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="editItem">Edit Item</a>
      </li>
    </ul>
    <a class="btn btn-secondary my-2 my-sm-0" href="/login" tabindex="-1">Logout</a>
 </div>